<h1><Strong> Create a new user </strong></h1>



 <% if @user.errors.any? %>
    <p> the following errors prevented user from being saved </p>
    <% @user.errors.full_messages.each do|msg| %>
        <%= msg %>
     <% end %>
  <% end %>

  <%= form_with model: @user, url: users_path, method: :post do |form| %>

    <p>
            <%= form.label :username %>
            <%= form.text_field :username %>
    </p>
    
    <p>
            <%= form.label :email %>
            <%= form.text_field :email %>
    </p>
   
    <p>
            <%= form.submit %>
    </p>
<% end %>